.App {
  /* text-align: center; */
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar{
  width: 20%;
  background-color:lightgray;
  padding-top: 30px;
  text-align: center;
  }
  .page{
    /* background-color: black; */
    width: 80%;
  }
  /* .side{
   padding-top: 85px;
   font-weight: 400;
} */
/* .para{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 17px;
  font-weight: 300;
  font-size: large;
  font-style: normal;
  text-align: start;
} */
.para1{
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-style: normal;
  margin-top: 430px;
  padding-right: 90px;
}

/* .side22 {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */